<ion-view view-title="分享功能">
  <ion-content class="padding">
    

   

   <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="shareWechat()">
        <img ng-src=img/wechat.png>
        <h2>  分享至微信</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

<ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="shareWebo()">
        <img ng-src=img/weibo.png>
        <h2>  分享至微博</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

<ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="shareQQ()">
        <img ng-src=img/qq.png>
        <h2>  分享至QQ</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>


  </ion-content>
</ion-view>
