<ion-view view-title="设置">
  <ion-content>
    <!-- <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list> -->

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" href="#/tab/account/profile">
        <img ng-src="img/profile.png">
        <h2>个人信息</h2>
       <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>

<!--         <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button> -->
      </ion-item>

<!--       <ion-item class="item-remove-animate item-avatar item-icon-right" href="#/tab/account/house">
        <img ng-src=img/adam.jpg>
        <h2>房间图片</h2>
       <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
		
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item> -->

      <ion-item class="item-remove-animate item-avatar item-icon-right" href="#/tab/account/share">
        <img ng-src="img/share.png">
        <h2>分享功能</h2>
       <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
		
        
      </ion-item>


      <ion-item class="item-remove-animate item-avatar item-icon-right" href="#/tab/account/help">
        <img ng-src="img/help.png">
        <h2>帮助反馈</h2>
       <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
		
       
      </ion-item>


      <ion-item class="item-remove-animate item-avatar item-icon-right" href="#/tab/account/aboutus">
        <img ng-src="img/about.png">
        <h2>关于系统</h2>
       <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
		
        
      </ion-item>      


      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="logout()">
        <img ng-src="img/exit.png">
        <h2>退出系统</h2>
      
      </ion-item>




    </ion-list>


  </ion-content>
</ion-view>
